.main-box{
    background-color: blue;
    width: 400px;
    height: 400px;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.box1{
    background-color: rgb(243, 10, 10);
    height: 100%;
    width: 49%;
}
.box2{
    background-color: blueviolet;
    height: 100%;
    width: 49%;
}