*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 100vh;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .container{
    width: 350px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.649);
    border-radius: 20px;
}
 .container h1{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .container .menu{
    width: 100%;
    height: 80px;
    display: flex;
    margin: 0 8px;
   
}
 .container .menu img{
    width: 20%;
    height: 80%;
    border-radius: 15px;
}
.container .menu .tittle{
    width: 100%;
    width: 100%;
    display: flex;
    margin: 10px;
    flex-direction: column;
   
}
.container .menu .tittle p{
    font-size: 15px;
    color: white;
    font-family: sans-serif;

}
.nav{
    width: 100%;
    height: 200px;
}
 .tittle1{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    color: white;
    text-transform: uppercase;
    padding: 8px 10px;
}
.container.tittle1 h4{
    font-size: 15px;
    font-family: sans-serif;
}
.button{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button button{
    width: 50%;
    font-size: 15px;
    font-family: sans-serif;
    border-radius: 7px;
    color: rgba(251, 17, 17, 0.644);
}