*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-box{
   background-color: blue;
   width: 500px;
   height: 400px;
   margin: 100px auto;
   padding: 10px;
   display: flex;
   justify-content: space-between;
}
.main-box .box{
    height: 100%;
    width: 49%;
}
.main-box .box .box1{
    width: 100%;
    height: 70%;
    background-color: blueviolet;
}
    
 .main-box .box .box2{
    width: 100% ;
    height: 30%;
    background-color: rgb(240, 20, 101);
}