*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-box{
    background-color: rgb(78, 252, 51);
    width: 400px;
    height: 300px;
    margin: 50px auto;
    border-radius: 5px;
    display: flex;
}
.main-box .box{
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    gap: 10px;
}
.main-box .box .box1{
    width: 100%;
    height: 30%;
    background-color: blueviolet;
    border-radius: 5px;
}
.main-box .box .box2{
    width: 30%;
    height: 70%;
    background-color: yellow;
   border-radius: 5px;
}
.main-box .box .box3{
    width: 70%;
    height: 70%;
    background-color: blue;
   border-radius: 5px;
}