*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    background-color: blue;
    height: 80px;
    color: white;
   
}
.menu{
    background-color: blueviolet;
    display: flex;
    justify-content: end;
    margin-top: 5px;
}
.menu ul{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.menu ul li a{
   color: white;
   padding-block: 15px;
   display: block;
  text-decoration: none;
  font-size: 22px;
}
main{
    height: 400px;
    display: flex;
    margin-top: 10px;
    gap: 10px;
}
main .side1{
   background-color: aqua;
   width: 25%;
   height: 100%;
}
main section{
    background-color: yellow;
    width: 50%;
    height: 100%;
}
main section.aside{
    width: 100%;
    height: 25%;
    background-color: aquamarine;
}
main section{
    display: flex;
    justify-content: end;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
 main section .aside{
    width: 100%;
    background-color: red;
    height: 25%;
 }
 main section .aside:first-child{
    background-color: yellow;
 }
 main section .aside{
    height: 100%;
    margin-top: 10px;
    background-color: azure;
    display: flex;
 }
 main .side2{
    background-color: blue;
    display: flex;
    height: 100%;
    width: 25%;
 }
 main section{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: end;
    padding: 10px;
 }
 footer{
    background-color: blueviolet;
    height: 40px;
    width: 100%;
    margin: 10px auto;
    color: white;
    
 }
 header,section,.aside,footer{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 header, section, .aside,.side2,footer{
    border: 3px solid black;
 }