*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 200px;
}
.container .logo{
height: 100px;
display: flex;
align-items: center;
margin: 0 10px;
}
.container .logo img{
    width: 80px;
    height: 80%;
}
.Menu{
    height: 40px;
    display: flex;
    background-color: red;
}
.Menu .menu1{
  height: 200px;
  margin: 0 90px;

}
.Menu .menu1 ul {
    height: 100%;
    display: flex;

    list-style: none ;
    gap: 13px;
}
.Menu .menu1 ul li a{
    color: white;
    font-size: 22px;
    text-decoration: none;
    display: block;
}
.Menu .menu1 ul li a{
width: 200px;
height: 200px;
}
.Menu .menu1 ul li a:hover{
    background-color: rgba(128, 128, 128, 0.184);
}
.image{
    display: flex;
      margin: 5px 90px;
}
.image .first{
    width: 400px;
    height: 200px;
   display: flex;
   
}
.image .first img{
    width: 100%;
    height: 100%;
}