*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 80px;
    display: flex;
    background-color: yellow;
    text-shadow: 0 0 10px gray;
}
.container .logo{
   width: 50%;
   height: 80px;
}
.container .logo img{
    width: 90px;
    height:100%;
    padding: 10px;
}
.container .menu{
    width: 50%;
    height: 100px;
}
.container .menu ul{
    height: 100%;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.container .menu ul li a{
    color: black;
   font-size: 22px;
   text-decoration: none;
   padding: 15px;
   text-transform: uppercase;
    /* text-shadow: 0 0 10px red; */
    transition: all 200ms ease-in-out;
}
.container .menu ul li a:hover{
    color: rgba(195, 88, 88, 0.532);
}
.section{
  display: flex;
  background-color: blueviolet;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px;
}
.section .section1 h1{
    display: flex;
    justify-content: center;
   
}
.section .button {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section .button button{
 width: 100px;
 height: 37px;
 border-radius: 10px;
 border: 1px solid black;
 transition: all 500ms ease-in-out;
}
.section .button button:hover{
    display: block;
    filter: drop-shadow(0 0 8px yellow);
}
.section2{
   display: flex;
    background-color: brown; 
    justify-content: space-between;
    margin: 10px;
}
.section2 .pic{
    width: 50%;
    height: 300px;
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
}
.section2 .pic img{
    width: 100%;
    height: 100%;
}