*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 100vh;
    background-image: url(../Icon/image/bk.jpg);
    background-position: center;
    background-size: cover;
    padding: 10px 100px 0 10px;
    justify-content: space-between;
    display: flex;
}
header .logo img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: blue;
}
header .menu ul{
  display: flex;
  list-style: none;
  gap: 15px;
}
header .menu ul li a{
    color: white;
    font-size: 22px;
    font-family: sans-serif;
    text-decoration: none;
    display: block;
    position: relative;
}
header .menu ul li #a::before{
    content: " ";
    width: 50%;
    height: 3px;
    background: linear-gradient( to right, red, blue);
    position: absolute;
    top: 100%;
}
header .menu ul li a:hover#a{
    color: rgba(255, 255, 0, 0.777);
}
header .menu ul li a::before{
    content: "";
    width: 0;
    height: 3px;
    background-color: brown;
    position: absolute;
    top: 100%;
    transition: all 300ms ease-in-out;
}
header .menu ul li a:hover{
     color: rgba(255, 255, 0, 0.777);
}
header .menu ul li a:hover::before{
    content: "";
    width: 100%;
    height: 3px;
    background-color: brown;
    position: absolute;
    top: 100%;
}