*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    display: flex;
    background-color: pink;
}
.nav .menu{
    width: 40%;
}
.nav .menu ul{
    display: flex;
    align-items: center;
    list-style: none;
}
.nav .menu ul li a{
    text-decoration: none;
    padding: 15px;
    display: block;
    font-size: 20px;
    font-weight: 600;
    transition: all 300ms ease-in-out;
}
.nav .menu ul li a:hover{
   background-color: rgba(128, 128, 128, 0.164);
}
.nav .logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav .logo img{
    width: 150px;

}
.nav .auth{
    background-color: brown;
}